/* 메뉴바 영역 */
.Menubar {
  width: 12.5%;
  height: 100vh;
  border-right: 1px solid #d8d8d8;
  /* margin-top: 10px; */
  /* border-right: 2px solid #b7b7b7; */
  /* float: left; */
  /* display: inline-block; */
  /* width: 215px; */
  /* height: auto; */
  /* min-height: 100%; */
  /* padding-top: 0%; */
  /* padding-left: 0%; */
  /* padding-left: 10%; */
  /* padding-right: 10%; */
  /* margin-right: 35%; */
}

.Menubar li {
  list-style-type: none;
  cursor: pointer;
  font-size: 18px;
  padding: 15px 0;
  border-bottom: 1px solid #d8d8d8;
}
